@font-face{
    font-family: lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}
*{
    font: 14px lato;
    margin: 0;
    padding: 0;
 

}

header{
    background-color: #9191916f;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 2;

}

header img{
    height: 70px;
    margin-left: 30px;
    margin-bottom: 2px;
    position: fixed;
}

header nav{
    margin-top: 20px;
    float: right;
}

header nav a{
    color: rgb(0, 0, 0);
    padding-right: 35px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 3px;
    z-index: 1;
}

header nav a:hover{
    color: #ffffff;

    transition: 0.4s;
}

.banner img{
    width: 100%;
    object-fit: cover;
}
main{
    width: 1200px;
    margin: 0 auto;

}
#lista-destinos ul{
    list-style: none;
}
#lista-destinos ul li{
    display: inline-block;
    margin: 18px;
    transition: 0.5s;
    
}

#lista-destinos ul li h2{
    text-align: center;
    font-size:  20px;
    margin-top: 20px;
    margin: 20px 0px;
}
footer{
    background-color: #1a1a1a;
    text-align: center;
    color: #a0a0a0a0;
    padding: 10px;
}

#lista-destinos ul li:hover{
    box-shadow: 0px 0px 15px #a0a0a0a0;
}