@font-face{
    font-family: lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}
*{
    font: 14px lato;
    margin: 0;
    padding: 0;

}

header{
    background-color: #0000007b;
    padding: 10px 20px;
}

header img{
    height: 70px;
    margin-left: 30px;
}

header nav{
    margin-top: 20px;
    float: right;
}

header nav a{
    color: white;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover{
    color: #ff3a3a;
}

.banner img{
    width: 100%;
    object-fit: cover;
}

main{
    width: 1200px;
    margin: 0 auto;

}
#lista-destinos ul{
    list-style: none;
}
#lista-destinos ul li{
    display: inline-block;
    margin: 18px;
    
}

#lista-destinos ul li h2{
    text-align: center;
    font-size:  20px;
    margin-top: 20px;
}
footer{
    background-color: #282828;
    text-align: center;
    color: #a0a0a0a0;
    padding: 10px;
}